<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SI Magang</title>
  <link href="/css/style.css" rel="stylesheet">
</head>
<body class="bg-blue-50 min-h-screen flex items-center justify-center">
  <div class="bg-white p-6 rounded-lg shadow-lg text-center">
    <h1 class="text-2xl font-bold text-blue-700">Website magang SI</h1>
  </div>
</body>
</html>
